{% extends "news/base.html" %}

{% block content %}
	<ul class="articles">
		<li class="article odd">
			<h3><a href="{% url news_article article.id %}">
				{{ article.title }}
			</a></h3>
			<div class="body">
				{{ article.formatted_body|safe }}
			</div>

			<h6>
				Posted {% if article.author %} by {{ article.author }} {% endif %} on {{article.created_on.date}} at {{article.created_on.time}}
				(
                  <a href="{% url news_article article.slug %}">permalink</a>
                  {% if user.is_authenticated %}
                    {% if perms.news.change_article or user.is_superuser or user == article.author %}
                      - <a href="{% url news_article_edit article.pk %}">edit</a>
                    {% endif %}

                    {% if perms.news.delete_article or user.is_superuser or user == article.author %}
                      - <a href="{% url news_article_delete article.pk %}">delete</a>
                    {% endif %}
                   {% endif %}
                )
			</h6>
			</li>
		</ul>

		{% if comments_available %}
			{% include "news/article_comments.html" %}
			{% include "news/article_comment_form.html" %}
		{% endif %}
{% endblock content %}

